@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  /* bg colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-beige: hsl(30, 38%, 92%);
  --bg-green: hsl(158, 36%, 37%);
  --bg-dark-green: hsl(158, 36%, 27%);
  /* font colors */
  --fc-light-gray: hsl(228, 12%, 48%);
  --fc-black: hsl(212, 21%, 14%);
  --fc-green: hsl(158, 36%, 37%);
  --fc-white: hsl(0, 0%, 100%);
  /* font family */
  --ff-body: 'Montserrat', sans-serif;
  --ff-headings: 'Fraunces', serif;
}

body {
  background-color: var(--bg-beige);
  font-family: var(--ff-body);
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--fc-light-gray);
  line-height: 1.5;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  overflow: hidden;
  border-radius: 1rem;
}

/* product img section */
.product-img {
  width: 100%;
  object-fit: cover;
}

/* produc info section */
.product-info {
  background-color: var(--bg-white);
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

.product-tag {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.product-name {
  font-family: var(--ff-headings);
  color: var(--fc-black);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.price {
  font-family: var(--ff-headings);
  font-size: 2rem;
  font-weight: 700;
  color: var(--fc-green);

  display: flex;
  align-items: center;
  gap: 1rem;
}

.prev-price {
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--fc-light-gray);
  text-decoration: line-through;
}

.btn {
  border: none;
  padding: 1rem 0;
  background-color: var(--bg-green);
  width: 100%;
  border-radius: 0.5rem;

  font-weight: 700;
  color: var(--fc-white);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--bg-dark-green);
}

/* media queries */
@media (min-width: 30rem) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    max-width: 40rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .product-img {
    height: 100%;
  }

  body {
    min-height: 100vh;
    display: grid;
    place-content: center;
  }
}
